{% load thumbnail %}

{% regroup sponsorships by amount as sponsor_levels %}

<div class="sponsor-list">
{% for level in sponsor_levels %}
    <ul>
        {% for sponsor in level.list %}
            <li>
                <a href="{{ sponsor.organization.website }}">
                    <span class="sponsor-logo">
                    <img src="{% thumbnail sponsor.organization.logo 150x75 crop="scale" %}" />
                    </span>
                </a>
            </li>
        {% endfor %}
        <hr/>
    </ul>
{% endfor %}
</div>