#session-form div {
  margin-bottom: 1em;
  font-size: 10pt;
}

#session-form label {
  font-size: 12pt;
  margin-bottom: 0.25em;
  display: inline-block;
}

#session-form select {
  width: 100%;
}

.help-box {
  border: 1px solid #AAA;
  border-radius: 10px;
  padding: 0 10px;
  background: #FDFDCD;
}

.help-box ul {
  margin-left: 1.5em;
}

ul.errorlist {
  font-size: 75%;
  color: #F00;
  margin-left: 2em;
  display: inline-block;
}

ul.errorlist li {
}

.dropdowns {
  margin-bottom: 15px;
}
.dropdowns label {
  display: block;
  width: 100%;
  height: 25px;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdowns .active label {
  color: red;
}
.dropdowns select,
.dropdowns button {
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdowns .styled-select {
  width: 100%;
  overflow: hidden;
  background: url(../img/down_arrow.gif) no-repeat right #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdowns button {
  margin-top: 0px;
  background: #6F6F6F;
  color: white;
}

.dropdowns .search-link {
  font-size: 12pt;
  display: inline-block;
  padding-top: 6px;
}

.event {
  width: 100%;
  background: white;
  border: 1px solid #E4E4E4;
  margin: 15px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.event [class*="span"] {
  margin: 0;
}
.event a {
  color: #000000;
  text-decoration: none;
}

.event a.session-link {
  font-size: 12pt;
}

.event a.details {
  color: #0088cc;
  font-size: 12pt;
  float: right;
}
/*.event a .details:before {
  content: " - ";
}*/
.event .editlink a {
  color: #0088cc;
}
.event .time-location ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.event .span12 {
  width: 100%;
}
.event .fulltitle {
  width: 620px;
}
.event .row {
  margin-left: 20px;
}
.eventlist-heading h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}
.session-info h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 30px;
}
.session-info h5 {
  margin: 0;
  padding: 5px 0 0 0;
  font-weight: bold;
}
.session-info .description-span {
  padding-bottom: 5px;
}
.session-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.session-info .row {
  margin-left: 0;
}
.session-info .title {
  margin-bottom: 15px;
}
header a {
  color: black;
}
header a:hover {
  color: black;
  text-decoration: none;
}
.noresults {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}

#session-form {
  padding-right: 2em;
}

#session-form input,
#session-form textarea {
  width: 100%;
}

.vote-widget {
  text-align: right;
}

.vote-container {
  margin: 0;
  display: inline-block;
  background: #EFEFEF;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  position: relative;
}

.vote-total {
  display: inline-block;
  background: #6BF;
  height: 30px;
  border-radius: 3px;
  position: absolute;
  right: 0;
}

a.vote-link, a.fake-vote-link {
  vertical-align: top;
  display: inline-block;
  border: 1px solid #6BF;
  border-radius: 3px;
  height: 28px;
  width: 28px;
  font-size: 20pt;
  text-align: center;
  line-height: 100%;
}

a.vote-link:hover, a.fake-vote-link:hover {
  background: #CEF;
  text-decoration: none;
}

a.vote-link.inactive {
  pointer-events: none;
  cursor: default;
  background: #CEF;
  border: 1px solid #9BC;
  color: #9BC;
}

ul.presenter-list li {
  display: inline;
  font-size: 10pt;
}

.wall-container {
  width: 100%;
  overflow-x: scroll;
}

table.wall {
  font-size: 18pt;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
  width: 100%;
}

table.wall td, table.wall th {
  padding: 0.5em;
  width: 10em;
  text-align: center;
}

table.wall td {
  border: 1px solid #AAA;
  border-radius: 5px;
  background: beige;
  height: 5em;
  overflow: hidden;
}

table.wall th.first-column {
  width: 5em;
}

ul#unconference_list {
  margin-top: 3em;
  margin-left: 3em;
}

ul#unconference_list li {
  font-size: 12pt;
}

ul#unconference_list h3 {
  font-size: 175%;
}

ul#unconference_list table {
  width: 100%;
}