{% extends "awards/wrapper.html" %}

{% block pagetitle %}Submit a nomination for {{ form.award_name }}{% endblock %}

{% block content %}
<section class="bkgrd awards nominate">
    <!--<h1>RootsCamp Awards</h1>-->
    {% include "awards/awards_banner.html" %}
    <h1>Nomination for {{ nomination_form.award_name }}</h1>
    
    <p>To nominate {{ nomination_form.nominee_type }} for recognition, please fill out this form as thoroughly as possible. Your responses to questions will be public on the nomination page.</p>

    <p>Please make sure to fill out all fields marked required. If you submit without required fields, any information entered will be lost.</p>

    <p>Want to know more about the contest? <a href="/about/mvo/">Read the Rules</a> or get answers to <a href="/about/faq/">Frequently Asked Questions</a></p>

    <form method="post" action="{% url "submit_nominee" unconference=unconference.slug award=award %}" class="nomination-form">
    {% csrf_token %}

    {{ nomination_form.errors }}
    {{ nominee_form.errors }}
    {{ form.errors }}

    {% if not request.user.is_authenticated or not user_profile %}
    <h2>About You</h2>

    {% if not request.user.is_authenticated %}
        <p>Already have an NOI account?  <a href="/users/login?next={{ request.path }}">Save time by logging in.</a></p>
    {% endif %}

    {% include "awards/_nominator_form.html" with form=nominator_form %}
    {% endif %}

    <h2>About the Nominee</h2>
    {% if nomination_form.name %}
    <p>
        <label>{{ nomination_form.name.label }}</label>
        {{ nomination_form.name.errors }}
        {{ nomination_form.name }}
    </p>

    <label>Primary Contact: </label>
    {% endif %}

    {% include "awards/_nominee_form.html" with form=nominee_form %}

    <h2>Why Should This Nominee Win</h2>

    {% for field in nomination_form.visible_fields %}
        {% if field.html_name != "nomination-name" %}
        <p>
            <label for="id_{{ field.html_name }}">
                {{ field.label }}
                {% if field.field.required %}
                    <span style="color: grey; font-size: 0.5em;">Required</span>
                {% endif %}
            </label>
            <br />
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        </p>
        {% endif %}
    {% endfor %}

    <p><button type="submit">Submit My Nomination</button></p>

    {% for hidden in nomination_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    </form>
</section>
{% endblock content %}