        <div class="row dropdowns">
            <form action="/filter" method="post">
                <div class="span6">
                <label for="time-dropdown">Slot</label>
                <div class="styled-select">
                    <select id="time-dropdown" name="time">
                        <option value="all">All Timeslots</option>
                        {% for day in days %}
                        <option value="{{day.name|slugify}},d{{ day.id }}">All Day {{ day.name }}</option>
                        {% endfor %}
                        {% for slot in slots %}
                        <option value="{{ slot.day.name|slugify }}-{{ slot.start_time|date:"g"|slugify }},s{{ slot.id }}">{{ slot.day.name }} {{ slot.start_time }} - {{ slot.end_time }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="span3">
                <label for="room-dropdown">Room</label>
                <div class="styled-select">
                    <select id="room-dropdown" name="room">
                        <option value="all">All Rooms</option>
                        {% for room in rooms %}
                        <option value="{{ room.name|slugify }},{{ room.id }}">{{ room.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="span3">
                <label>Submit</label>
                <button type="submit">Find</button>
            </div>
            {% csrf_token %}
            </form>
        </div>
        <hr class="below-filter">