        <div class="row dropdowns">
            <div class="span3">
                <label for="day-dropdown">Day</label>
                <div class="styled-select">
                    <select id="day-dropdown">
                        <option>All Days</option>
                        {% for day in days %}
                            <option>{{ day.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="span3">
                <label for="time-dropdown">Time</label>
                <div class="styled-select">
                    <select id="time-dropdown">
                        <option>All Timeslots</option>
                        {% for slot in slots %}
                        <option>{{ slot.start_time }} - {{ slot.end_time }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="span3">
                <label for="room-dropdown">Room</label>
                <div class="styled-select">
                    <select id="room-dropdown">
                        <option>All Rooms</option>
                        {% for room in rooms %}
                        <option>{{ room.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="span3">
                <label>Submit</label>
                <button type="submit">Find</button>
            </div>
        </div>
        <hr class="below-filter">