<div class="row event sessioninfo">
    <div class="row">
        <div class="span3 time-location">
    <ul class="">
        <li class="datetime">
            <div>
            <ul>
                <li class="day">{{ session.slot.day }}</li>
                <li class="time">{{ session.slot.start_time }} - {{ session.slot.end_time }}</li>
            </ul>
        </div>
        </li>
        <li class="location">{{ session.room.name }}</li>
        {% if user.is_staff %}<li class="editlink"><a href="{% url admin:session_session_change session.id %}">Edit This Entry</a></li>{% endif %}
    </ul>
    </div>
    <div class="lastspan9">
        <p><strong>{{ session.title }}</strong></p>
        <p>{{ session.headline }}</p>
        <a href="#" class="sessionlink" data-session_id="{{ session.id }}"><span class="details session{{ session.id}}-detailslink">More Details</span></a>
    </div></div>
    <div class="row sessioninfo session{{ session.id }}-details" style="display: none">
        <div class="row" class="description-row"><hr /><div class="span12 description-span"><h5>Description</h5>{{ session.description }}</div></div>
        <div class="row"><div class="span6">
            <h5>Presented By</h5>
            <ul class="presenter-list session{{ session.id }}-presenterlist">
            </ul>
        </div>
        <div class="lastspan6">
            <h5>Tags</h5>
            <ul class="presenter-list session{{ session.id }}-taglist">
            </ul>
        </div></div>
    </div>
    </div>