<html>
    <body>
        <h1>Congratulations {{ nominee.profile.user.first_name }}, your technology has been nominated form Most Valuable Technology!</h1>

        <p>You were listed as the primary contact by the person who nominated you.</p>

        <p><a href="http://{{ domain }}{% url "nominee_update_form" unconference=nominee.unconference.slug award="mvo" slug=nominee.slug %}?token={{ token }}">Complete your profile</a> to add a logo, personal statement about why this technology should win, and a twitter handle for folks to follow.  Nominees will be voted for online and the winners will be announced at Rootscamp!</p>

        <p>PS</p>
        <p>If you don't yet have tickets to Rootscamp, you can get them here: <a href="http://www.eventbrite.com/e/rootscamp-national-2014-tickets-11202989443?aff=website-email">buy Rootscamp tickets</a>.

        <p>Thanks!</p>
        <p>- The Rootscamp Team</p>
    </body>
</html>